{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'products/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/bootstrap.css' %}">
    {% block procss %}
        <link rel="stylesheet" href="{% static 'products/css/style_prod.css' %}" />
    {% endblock procss %}
    <title>Document</title>
</head>
<body>
    
    <nav class="nav flex-column">
        <a class="nav-link" aria-current="page" href="{% url 'landing' %}">Add Products</a>
        <a class="nav-link" href="{% url 'addhotel' %}"><i class="fas fa-bed"></i> Accommodation</a>
        <a class="nav-link" href="#"><i class="fas fa-monument"></i> Attractions</a>
        <a class="nav-link" href="#"><i class="fas fa-shuttle-van"></i> Day Tours</a>
        <a class="nav-link" href="#"><i class="fas fa-plane"></i> Airports</a>
        <a class="nav-link" href="#"><i class="fas fa-train"></i> Train Stations</a>
        <a class="nav-link" href="#"><i class="fas fa-ticket-alt"></i> Tickets</a>
        <a class="nav-link" href="#"><i class="fas fa-utensils"></i> Restaurant</a>
    </nav>
     <nav class="nav flex-column">
        <a class="nav-link" aria-current="page" href="{% url 'landing-ops' %}">Operations</a>
        <a class="nav-link" href="{% url 'addhotel' %}"><i class="fas fa-bed"></i> Accommodation</a>
    </nav>

</body>
</html>